<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="{{ path('app_home') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-signpost-split text-warning" viewBox="0 0 16 16">
  <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
</svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{{ path('page_contact') }}" class="nav-link px-2">Contact</a></li>
        <li><a href="{{ path('page_cgu') }}" class="nav-link px-2">CGU</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Connexion</button>
        <button type="button" class="btn btn-outline-primary me-2">Déconnexion</button>
        <button type="button" class="btn btn-primary">Inscription</button>
      </div>
    </header>
  </div>